body{
    margin:0;
    padding:0;
    text-align: center;
    /* font-size: 32px; */
    /* background-image: url(../images/main.jpg); */
    font-family: Hiragino Sans;
    background-color: #ffb61a;
}

main {
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    margin: 50px auto;
    border-radius: 5px;
    background-color: #eee;
    /* font-size: 16px; */
    line-height: 2;
    background-image: url(../images/main.jpg);
}

h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 50px;
    line-height: 1;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    }
}

h2 {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}

section:first-of-type {
    margin-bottom: 30px;
}

li {
    list-style: none;
    font-size: 20px;
}

ul {
    padding: 20px;
    border: 1px solid #555;
    list-style: none;
    /* color: #fff; */
    font-weight: bold;
    /* font-size: 20px; */
    /* text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000; */
}

.today {
    font-size: 30px;
    text-shadow:1px 0 4px rgba(255,215,0,0.66), 0 1px 4px rgba(255,215,0,0.66), -1px 0 4px rgba(255,215,0,0.66), 0 -1px 4px rgba(255,215,0,0.66);
}

#send{
    display: block;
	font-size: 18px;
	width: 200px;
	height: 54px;
	color: #fff;
	background-color: #ffb61a;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	border: 1px solid #4a4a4a;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.7);
}

#suffle {
    display: block;
	font-size: 18px;
	width: 200px;
	height: 54px;
	color: #fff;
	background-color: #ffb61a;
	margin: 0 auto;
	padding: 10px 0;
	text-align: center;
	border: 1px solid #4a4a4a;
	border-radius: 5px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.7);
}

/* #send,#suffle:hover {
    opacity: 0.7px;
} */
.omiselist {
    margin-bottom: 20px;
}
.omisetachi {
    color: #fff;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.border-text {
    color: #fff;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.kako {
    color: #fff;
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

#list {
    width: 200px;
    height: 30px;
    font-size: 20px;
}

@media screen and (max-width:480px) {
    main {
        width: 100%;
        display: block;
    }
   #output.kako {
       width: 100%;
       display: block;
       font-size: 20px;
   }
}